@import "variables";

.bg-secondary-dark {
  background-color: $secondary-dark;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-primary-dark {
  background-color: $primary-dark;
}

.bg-purply-white {
  background-color: $purple-white;
}