// @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap");
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
.font-merriweather {
  font-family: 'Quantum',
}

.font-opensans {
  font-family: 'Quantum'
}

.font-roboto {
  font-family: 'Quantum'
}

.font-black {
  color: $black;
}

.font-primary-dark {
  color: $primary-dark;
}

.font-primary {
  color: $primary;
}

.font-secondary {
  color: $secondary;
}

.font-secondary-dark {
  color: $secondary-dark;
}

.font-white {
  color: $white;
}

.font-gray {
  color: $gray;
}

.font-purple-white {
  color: $purple-white
}